<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>contatos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body class="img" alt="" src="img/fundoContatos.jpg">
	
<a href="/home"><button type="button"  class="btn btn-success tamanhoLabel" id="conts">Home</button></a></nav>

<nav>
<a href="https://github.com/luan-everton" target="_blank"><button type="button" class="btn btn-success tamanhoLabel" id="pro">Projetos</button></a></nav>

<nav><a href="/habilidades"><button type="button" class="btn btn-success tamanhoLabel" id="sk">Skils</button></a></nav>


<nav><a href="/contatos"><button type="button"  class="btn btn-success tamanhoLabel" id="conts">Contatos</button></a></nav>



 
 <h1 class="tamanhoh0"> Contatos </h1>
 <h2>Email luan-everton@outlook.com</h2>
 <h2>WhatsApp 15 96625876</h2>
 
<h2>Entre em contato também pelas redes sociais</h2>
 
 <div class="container" id="links">
     <div class="row " >
        <div class="col-lg 4">
           <a  href="https://github.com/luan-everton" target="_blank"><img alt="" src="img/github2.png" width="150px">
           <h3>Github</h3>
           </a>
       </div>
            <div class="col-lg 4">
              <a href="http://linkedin.com/in/luan-everton-5a6239176" target="_blank"><img alt="" src="img/linkedin.png" width="150px">
                <h3>Linkedin</h3>
              </a>
             </div>
               <div class="col-lg 4">
              <a href="https://www.instagram.com/luan_evertoon/?hl=pt-br" target="_blank" ><img alt="" src="img/instagram.jfif" width="150px">
                <h3>Instagram</h3>
              </a>
             </div>
             <div class="col-lg 4">
              <a href="https://www.facebook.com/profile.php?id=100005674867450" target="_blank"><img alt="" src="img/facebook.png" width="150px">
                <h3> Facebook</h3>
              </a>
             </div>
           </div>
       </div>

 
</body>

</html>