<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>habilidades</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body class="page">

<nav><a href="/home"><button type="button"  class="btn btn-success tamanhoLabel" id="conts">Home</button></a></nav>

<nav>
<a href="https://github.com/luan-everton" target="_blank"><button type="button" class="btn btn-success tamanhoLabel" id="pro">Projetos</button></a></nav>

<nav><a href="/habilidades"><button type="button" class="btn btn-success tamanhoLabel" id="sk">Skils</button></a></nav>

<nav><a href="/contatos"><button type="button"  class="btn btn-success tamanhoLabel" id="conts">Contatos</button></a></nav>




 <h1 class="tamanhoh0"> Luan Everton </h1>
  <h1 class="tamanhoh0"> Skils </h1>
   <h2 class="tamanhoh0" > </h1>
   
   <div class="container" id="links">
     <div class="row " >
        <div class="col-lg 4">
           <a ><img alt="" src="img/javajfif.jfif" width="250px">
           <h3>Desenvolvedor java  L Junior</h3>
           </a>
       </div>
       <div class="col-lg 4">
              <a  ><img alt="" src="img/mysql2.jfif" width="250px">
                <h3>Banco de Dados MySql</h3>
              </a>
             </div>
        <div class="col-lg 4">
              <a  ><img alt="" src="img/python.jfif" width="250px">
                <h3>Desenvolvedor Python  L Junior</h3>
              </a>
             </div>
 <h3 class="tamanhoLabel3" id="frase">Luan Everton é formado em analise e desenvolvimentos de Sistemas </h3>
  <h3 id="frase"> "Uma máquina pode fazer o trabalho de 50 pessoas comuns. Nenhuma máquina pode fazer o trabalho de uma pessoa extraordinária.</h3>

   <h3 id="frase" > Elbert Hubbard</h3>
 
  
        
      
   
  
 
 


</body>



</html>