<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>home</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body class="home">

<a href="/home"><button type="button"  class="btn btn-success tamanhoLabel" id="conte">Home</button></a></nav>

	
<nav><a href="/contatos"><button type="button"  class="btn btn-success tamanhoLabel" id="cont">Contatos</button></a></nav>

<nav>
<a href="https://github.com/luan-everton" target="_blank"><button type="button" class="btn btn-success tamanhoLabel" id="pro">Projetos</button></a></nav>

<nav><a href="/habilidades"><button type="button" class="btn btn-success tamanhoLabel" id="sk">Skils</button></a></nav>

 <h1 class="tamanhoh1"> Luan Everton </h1>
 <h1 class="tamanhoh"> Starter na empresa GFT</h1>
 <h1 class="tamanhoh">Software Developer</h1>
 
 
 
<center>
<div class="circle">
  <img src="/img/luanfoto.jpeg">
</div>  
</center>

</body>

</html>